.notfound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    color: #000;
    margin: 246px 0 5px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;

    @media screen and (max-width: 768px) {
      margin: 408px 0 5px 0;
    }

    @media screen and (max-width: 450px) {
      margin: 329px 0 10px 0;
      font-size: 80px;
      line-height: 97px;
    }

  }

  &__text {
    color: #000;
    margin: 0 0 184px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    @media screen and (max-width: 450px) {
      margin: 0 0 284px 0;
      font-size: 12px;
      line-height: 15px;
    }

  }

  &__back {
    cursor: pointer;
    margin: 0;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;

    @media screen and (max-width: 450px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
