.gift {
  //border: 1px solid #000;
  //padding: 1rem;
  width: 300px;
  max-height: 223px;
  //тест
  &:hover {
    max-height: 300px;
  }

  &__box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  &__top {
    display: flex;
    justify-items: center;
    justify-content: space-between;
  }

  &__icon {
    cursor: pointer;
    margin-right: 10px;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

}

.reservation {
  margin-left: 15px;
  border: none;
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #388e3c;
  }

  &:disabled {
    background-color: #808080;
    cursor: auto;
  }

  &_active {
    background-color: #808080
  }

}


.giftName {
  font-size: 1.2rem;
  font-weight: bold;
}

.giftSpec {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  overflow: hidden;
  word-break: break-all;
  min-height: 20px;
  max-height: 20px;
  transition: all .7s ease-out;

  &:hover {
    max-height: 500px;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }
}


.giftPrice {
  font-size: 1rem;
}

.giftLink {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #388e3c;
  }
}
